html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ddd;
}

#game-area {
    display: none;
    width: 100%;
    height: 94%;
    background-color: #ddd;
}

button {
    margin-top: 5px;
    margin-left: 5px;
    font-family: Verdana;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100px;
    height: 30px;
}

#toolbar {
    background-color: #333;
    display: none;
}

#toolbar div {
    /*for div in toolbar*/
    float: right;
    color: #eee;
}

.toolbar-icon {
    /*for icons div in toolbar*/
    margin-right: 5px;
}

.toolbar-text {
    /*for text div in toolbar*/
    font-size: 30px;
}

#timer,
#game-pulse {
    margin-right: 30px;
}

#score {
    margin-right: 60px;
}

#health {
    margin-right: 70px;
}

#cure-number,
#bullet-number,
#bomb-number {
    margin-right: 50px;
}

img {
    border: 0;
    width: 35px;
    height: 35px;
}


/* WELCOME, WIN, GAME-OVER */

.overlay-content,
.overlay {
    margin: auto;
    width: 512px;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

.overlay {
    background-color: black;
    opacity: 0.95;
}

.overlay-content {
    height: 400px;
    text-align: center;
    color: white;
}

#welcome {
    height: 300px;
}

.overlay-content h1 {
    font-size: 3em;
    font-family: sans-serif;
}

.overlay-content h2 {
    font-family: Verdana;
}

.overlay-content button {
    font-size: 1.5em;
    height: 50px;
    width: 200px;
    margin-top: 30px;
}